{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {% if edit %}
        Backbone Admin Tool - Edit Nameserver
    {% else %}
        Backbone Admin Tool - Create Nameserver
    {% endif %}
{% endblock %}
{% block page_content %}
    <div class="page-header">
    {% if edit %}
        <h1>Edit Nameserver</h1>
    {% else %}
        <h1>Create Nameserver</h1>
    {% endif %}
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
