{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Backbone Admin Tool - Communities{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Your Communitiies</h1>
</div>
<div class="col-md-18">
	<h3>Community List</h3>
	<table class="table table-striped">
        <colgroup>
        <col class="col-md-4">
	    <col class="col-md-2">
	    <col class="col-md-1">
	</colgroup>
	<tr>
		<th>Name</th>
		<th>Short-Name</th>
		<th>Actions</th>
	</tr>
	{% for communtiy in communities %}
	<tr>
        	<td> {{ communtiy.name }} </td>
	        <td> {{ communtiy.short }} </td>
		<td><a class="btn btn-primary btn-sm active" href="{{ url_for('communities.edit', community_id=communtiy.id) }}">Edit</a></td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
