{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {% if form.data.edit %}
    Backbone Admin Tool - Edit Contact
    {% else %}
    Backbone Admin Tool - Create Contact
    {% endif %}
{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if form.data.edit %}
    <h1>Edit Contact</h1>
    {% else %}
    <h1>Create Contact</h1>
    {% endif %}
</div>
<script>
$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip(); 
		    });
</script>
<div class="col-md-7">
    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
	<form class="form-horizontal" role="form" method="post">
        {{ form.csrf_token() }}
		<h3>General Information</h3>
		<div class="form-group">
			<label class="control-label col-sm-2" for="email">Firstname:</label>
			<div class="col-sm-10">
                {{ form.firstname(class="form-control") }}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Lastname:</label>
			<div class="col-sm-10">
                {{ form.lastname(class="form-control") }}
			</div>
		</div>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">E-Mail:</label>
                        <div class="col-sm-10">
                                {{ form.mail(class="form-control") }}
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">XMPP:</label>
                        <div class="col-sm-10">
                                {{ form.xmpp(class="form-control") }}
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Nickname:</label>
                        <div class="col-sm-10">
                                {{ form.nickname(class="form-control") }}
                        </div>
		</div><br>
		<h3>RIPE-Database</h3>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">RIPE-Handle:</label>
                        <div class="col-sm-10">
                                {{ form.handle(class="form-control") }}
                        </div>
		</div><br>
		<h3>Portal-Access</h3>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Login:</label>
                        <div class="col-sm-10">
                                {{ form.login(class="form-control") }}
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-10">
                                {{ form.newpassword(class="form-control") }}
                        </div>
                </div>
		<h3>Permissions</h3>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="admin">Community Admin</a></label>
                        <div class="col-sm-2">
                                {{ form.admin(class="form-control") }}
                        </div>
                </div>
		<div class="form-group">
			<label for="sel1">Associated Communities:</label><br/>
				{{ form.communities(class="form-control") }}
		</div>
		<div class="form-group"> 
			<div class="col-sm-10">
				{{ form.submit(class="btn btn-primary") }}&nbsp;
				<a href="{{ url_for('contacts.list') }}" type="button" class="btn btn-danger">Back</a>
			</div>
		</div>
	</form>	
</div>
{% endblock %}
