{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Backbone Admin Tool - CEs{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Customer Edge - {{ ce.name }} </h1>
</div>
<script>
$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		    });
</script>
    <div class="col-md-7">
    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
	<form class="form-horizontal" role="form" method="post">
        {{ form.csrf_token() }}
<div class="container">
	<h3>Basic Information</h3>
	<p>Find Basic Information below:</p>
    Name: {{ form.name(class="form-control") }} <br/>
	FQDN: {{ form.fqdn(class="form-control") }} <br/>
	AS: {{ form.asn(class="form-control") }} <br/>
	IPv4: {{ form.ipv4(class="form-control") }} <br/>
	IPv6: {{ form.ipv6(class="form-control") }} <br/>
</div>
<div class="container">
	<h3>Communities</h3>
	<p>This CustomerEdge is visible to following Communities:</p>
	<ul>
	{{ form.community(class="form-control") }}
	</ul>
</div>
 <div class="container">
                        <h3>Customer Edge Sessions</h3>
                        <p>Following Sessionss are setup to your CE:</p>
                        <table class="table table-striped">
                                <thead>
                                        <tr>
                                                <th>ProviderEdge</th>
                                                <th>PEv4</th>
                                                <th>PEv6</th>
                                                <th>CEv4</th>
                                                <th>CEv6</th>
						<th>Type</th>
						<th>Enabled</th>
                                                </tr>
                                </thead>
                                <tbody>
                                        {% for session in ce.sessions %}
                                        <tr>
                                                <td>{{ session.ProviderEdge.name  }}</td>
                                                <td>{{ session.pe_v4 }}</td>
                                                <td>{{ session.pe_v6 }}</td>
						<td>{{ session.ce_v4 }}</td>
						<td>{{ session.ce_v6 }}</td>
						<td>{{ session.TunnelType.name }}</td>
                                                {% if session.enabled %}
                                                <td><span class="glyphicon glyphicon-ok-circle"></span></td>
                                                {% else %}
                                                <td><span class="glyphicon glyphicon-ban-circle"></span></td>
                                                {% endif %}
                                                <td>&nbsp;</td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                        </table>
                </div>
    </form>
    </div>
{% endblock %}
