{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Backbone Admin Tool - Prefixes{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Assigned Prefixes</h1>
</div>
<div class="col-md-10">
	<table class="table table-striped">
        <colgroup>
            <col class="col-md-2">
	    <col class="col-md-2">
	    <col class="col-md-4">
	    <col class="col-md-2">
	</colgroup>
	<tr>
		<th>Prefix</th>
		<th>IP-Version</th>
		<th>Contacts</th>
		<th>Actions</th>
	</tr>
	{% for prefix in prefixes %}
	<tr>
        	<td> {{ prefix.prefix }} </td>
	        <td> {{ prefix.version }} </td>
		<td>
			<ul>	
			{% for contact in prefix.contacts %} 
			<li><a href="{{ url_for('contact', contact_id=contact.id) }}">{{ contact.lastname }}, {{ contact.firstname }} [{{ contact.handle }}]</a> </li>
			{% endfor %}
			</ul>
		</td>
		<td>&nbsp;</td>
	</tr>
	{% endfor %}
	<table>
</div>
{% endblock %}
