{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Backbone Admin Tool - Prefixes{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Assigned Prefixes</h1>
</div>
<div class="col-md-15">
	<table class="table table-striped">
        <colgroup>
            <col class="col-md-1">
	    <col class="col-md-1">
	    <col class="col-md-2">
	    <col class="col-md-1">
	    <col class="col-md-2">
	    <col class="col-md-3">
	    <col class="col-md-5">
	</colgroup>
	<tr>
		<th>Prefix</th>
		<th>IP-Version</th>
		<th>Type</th>
		<th>Site</th>
		<th>NameServers</th>
		<th>Contacts</th>
		<th>Actions</th>
	</tr>
	{% for prefix in prefixes %}
	<tr>
        	<td> {{ prefix.prefix }} </td>
	        <td> {{ prefix.version }} </td>
		<td> {{ prefix.PrefixType.name }} </td>
		<td> {{ prefix.Site.name }} </td>
		<td>
			<ul>	
			{% for ns in prefix.nameservers %} 
			<li>{{ ns.fqdn }}</a> </li>
			{% endfor %}
			</ul>
		</td>
		<td>
		        <ul>
                        {% for contact in prefix.contacts %}
                        <li><a href="{{ url_for('contacts.edit', contact_id=contact.id) }}">{{ contact.lastname }}, {{ contact.firstname }} [{{ contact.handle }}]</a> </li>
                        {% endfor %}
                        </ul>
                </td>	
		<td><a class="btn btn-primary btn-sm active" href="{{ url_for('prefixes.edit', prefix_id=prefix.id) }}">Edit</a>&nbsp;<a href="/prefixes" class="btn btn-danger btn-sm active">Delete</a></td>
	</tr>
	{% endfor %}
	<table>
</div>
{% endblock %}
