{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Backbone Admin Tool - Contact{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Your Communities</h1>
</div>
<script>
$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip(); 
		    });
</script>
<ul class="nav nav-tabs">
	{% for community in communities %}
	{% if community.isfirst %}
	<li class="active"><a data-toggle="tab" href="#{{ community.id }}">{{ community.name }}</a></li>
        {% else %}
        <li><a data-toggle="tab" href="#{{ community.id }}">{{ community.name }}</a></li>
        {% endif %}
	{% endfor %}
	{% if count == 0 %}
	<li class="active"><a data-toggle="tab" href="#add">Add</a></li>
	{% else %}
	<li><a data-toggle="tab" href="#add">Add</a></li>
	{% endif %}
</ul>

<div class="tab-content">
	{% for community in communities %}
	{% if community.isfirst %}
	<div id="{{ community.id }}" class="tab-pane fade in active">
	{% else %}
	<div id="{{ community.id }}" class="tab-pane fade in">
	{% endif %}
		<h3>{{ community.name }}</h3>
		<div class="form-group">
			<label for="usr">Name:</label>
			<input type="text" class="form-control" id="usr" value="{{ community.name }}">
		</div>
		<div class="form-group">
                        <label for="usr">Shortname:</label>
                        <input type="text" class="form-control" id="usr" value="{{ community.short }}">
                </div>
		<div class="form-group">
                        <label for="usr">Created:</label>
                        <input type="text" class="form-control" id="usr" value="{{ community.created }}" disabled>
                </div>
	</div>
	{% endfor %}
	{% if count == 0 %}
	<div id="add" class="tab-pane fade in active">
	{% else %}
	<div id="add" class="tab-pane fade in">
	{% endif %}
		<h3>Add Community</h3>
		<p>Some content in menu 2.</p>
	</div>
</div>
</br></br></br></br>
		<div class="form-group"> 
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">Submit</button>
				<button type="button" class="btn btn-danger">Back</button>
			</div>
		</div>
	</form>	
</div>
{% endblock %}
