{% extends "base.html" %}
    {% block title %}{{ title }} - FF Backbone{% endblock %} </head>
{% block page_content %}
<div class="page-header">
<div class="col-md-18">
        {% if current_user.is_authenticated %}
            <div class="page-header">
            <h1>Hello, {{ contact.firstname }}!</h1>
            </div>
            <div class="col-md-18">
                We are pleased to meet you again.<br>
                What's going on in your Communities?
            </div>
        {% else %}
            <div class="page-header">
                <h1>Welcome to Backbone Admin Tool</h1><br>
            </div>
            <div class="col-md-18">
                <h3>AS201701 - Current Traffic Status over all</h3>
                <td><img width="1150" src="http://ffrl.de/total.png"></td>
            </div><br>
            <div class="col-md-18">
                <h3>AS201701 - Current Traffic Status per Site</h3>
                <table class="table table-striped">
                    <colgroup>
                        <col class="col-md-2">
	                    <col class="col-md-2">
	                    <col class="col-md-2">
	                </colgroup>
                    <tr>
                        <th>Standort Berlin</th>
                        <th>Standort D&uuml;sseldorf</th>
                        <th>Standort Frankfurt</th>
                    </tr>
	                <tr>
                        <td><img width="350" src="http://ffrl.de/ber.png"></td>
                        <td><img width="350" src="http://ffrl.de/dus.png"></td>
                        <td><img width="350" src="http://ffrl.de/fra.png"></td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        {% endif %}
</div></div>
{% endblock %}